<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpsBinding_IService1">
                    <security mode="Transport">
	                    <transport clientCredentialType="Certificate"/>
                    </security>
				</binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52131/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
                name="BasicHttpBinding_IService1" />
            <endpoint address="https://localhost:44340/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpsBinding_IService1" contract="ServiceReference1.IService1"
                behaviorConfiguration="clientInspectorsAdded"
                name="BasicHttpsBinding_IService1" />
        </client>
	    <behaviors>
		    <endpointBehaviors>
			    <behavior name="clientInspectorsAdded">
					<messageBehaviorExtension />
			    </behavior>
		    </endpointBehaviors>
	    </behaviors>
	    <extensions>
		    <behaviorExtensions>
			    <add
				    name="messageBehaviorExtension"
				    type="WCFCertificateTest.MessageBehaviorExtensionElement, WCFCertificateTest, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null"/>
		    </behaviorExtensions>
	    </extensions>
	</system.serviceModel>
</configuration>